<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入项目配置文件
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
                <value>classpath:hibernate.properties</value>
            </list>
        </property>
    </bean> -->

    <context:property-placeholder
            location="classpath:hibernate.properties,classpath:db.properties"
            file-encoding="utf-8"
            ignore-resource-not-found="false"
            ignore-unresolvable="false"
            local-override="false"
            system-properties-mode="FALLBACK"
    />

    <!-- 引入druid数据源配置文件 -->
    <import resource="spring-druid.xml" />
    <!-- 引入jdbc模板文件jdbcTemplate -->
    <import resource="spring-jdbc.xml" />
    <!-- 引入cxf模板文件jdbcTemplate -->
    <import resource="spring-cxf-service.xml" />

    <!-- 扫描注解Repository -->
  	<!-- use-default-filters="false" 只扫描指定的注解 -->
    <context:component-scan base-package="com.isoftstone.finance.managesystem" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

  	<!-- 扫描注解Service -->
  	<!-- use-default-filters="false" 只扫描指定的注解 -->
    <context:component-scan base-package="com.isoftstone.finance.managesystem.service" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 配置dbcp数据源
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/managesystem" />
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>-->
    <!-- 配置c3p0数据源
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
              destroy-method="close">
            <property name="driverClass" value=" oracle.jdbc.driver.OracleDriver "/>
            <property name="jdbcUrl" value="jdbc:oracle:thin:@172.19.34.6:1521:ORCL"/>
            <property name="user" value="orclight"/>
            <property name="password" value="123456"/>
        </bean>-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
    	<property name="dataSource" ref="dataSource"/>
		<property name="mappingDirectoryLocations">  
	        <list>  
	            <value>classpath:com/isoftstone/finance/managesystem/model/mappings</value>
         	</list>  
        </property> 
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.query.substitutions">${hibernate.query.substitutions}</prop>
                <prop key="hibernate.default_batch_fetch_size">${hibernate.default_batch_fetch_size}</prop>
                <prop key="hibernate.max_fetch_depth">${hibernate.max_fetch_depth}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">${hibernate.bytecode.use_reflection_optimizer}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>      
                <prop key="hibernate.cache.use_structured_entries">${hibernate.cache.use_structured_entries}</prop>
                <prop key="hibernate.current_session_context_class">${hibernate.current_session_context_class}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="net.sf.ehcache.configurationResourceName">${net.sf.ehcache.configurationResourceName}</prop>
            </props>
        </property>
  	</bean>

    <!-- 开启注解事务 只对当前配置文件有效 注解事务和下面的声明式事务只需选择其中一种，推荐用声明式事务 -->
	<!-- <aop:aspectj-autoproxy expose-proxy="true"/>	
  	<tx:annotation-driven transaction-manager="h4TManager"/> -->
  	
  	<!-- 声明式事务配置开始 -->
    <bean id="h4TManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="h4TAdvice" transaction-manager="h4TManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" />
            <!-- <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" /> -->
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="merge*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="enable*" propagation="REQUIRED" />
            <tx:method name="disable*" propagation="REQUIRED" />
            <!-- <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="put*" propagation="REQUIRED" />
            <tx:method name="use*" propagation="REQUIRED"/> -->
            <!--hibernate4必须配置为开启事务 否则 getCurrentSession()获取不到-->
            <tx:method name="get*" propagation="REQUIRED" read-only="true" />
            <tx:method name="count*" propagation="REQUIRED" read-only="true" />
            <tx:method name="find*" propagation="REQUIRED" read-only="true" />
            <tx:method name="list*" propagation="REQUIRED" read-only="true" />
            <tx:method name="*" propagation="REQUIRED" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <aop:config expose-proxy="true">
        <!-- 对基类业务逻辑层实施事务 -->
        <aop:pointcut id="h4TPointcutSuper" expression="execution(* com.isoftstone.finance.managesystem.base.service..*.*(..))" />
        <aop:advisor advice-ref="h4TAdvice" pointcut-ref="h4TPointcutSuper"/>
    </aop:config>
    <aop:config expose-proxy="true">
        <!-- 对子类业务逻辑层实施事务 -->
        <!-- <aop:pointcut id="h4TPointcutSub" expression="execution(* com.demo..services..*.*(..))" /> -->
        <aop:pointcut id="h4TPointcutSub" expression="execution(* com.isoftstone.finance.managesystem.service..*.*(..))" />
        <aop:advisor advice-ref="h4TAdvice" pointcut-ref="h4TPointcutSub"/>
    </aop:config>
    <!-- 声明式事务配置结束 -->
    
</beans>